<div class="container">
	<h1>Submitted Candidate Information</h1>
	<div class="row">
		<div class="col-xs-3">First Name</div>
		<div class="col-xs-9  pull-left">{{ firstName }}</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Last Name</div>
		<div class="col-xs-9 pull-left">{{ lastName }}</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Country</div>
		<div class="col-xs-9 pull-left">{{ country }}</div>
	</div>
	<div class="row">
		<div class="col-xs-3">Available After</div>
		<div class="col-xs-9 pull-left">{{ availableAfter }}</div>
	</div>
</div>
